vmware
nokia
Nextcloud
mnt
Media
iso
IdeaProjects
Dropbox
Downloads
Development
AndroidStudioProjects
Android
.zsh*
.z
.zcompdump-think-5.6.2
.weatherreport
.w3m
.vscode-oss
.vnc
.vmware
.virtualenvs
.ssh
.spacemacs*
.shortcuts
.python_history*
.putty
.pub-cache
.profile.orig
.pki
.pip
.pacupgrnum
.oh-my-zsh
.npm
.ncmpcpp
.mysql
.mozilla
.local/share/*
!.local/share/applications/
.lesshst
.java
.gtk-bookmarks
.gtkrc-2.0
.gnupg*
.gradle
.gitkraken
.gitignore_global
.gitconfig
.flutter
.fltk
.fehbg
.fasd
.emacs.d
.emulator_console_auth_token
.esd_auth
.dart
.dartServer
.dotfiles
.dropbox
.cert
.cache
.bashrc.bak
.bash_logout
.bash_history
.ansible_galaxy
.ansible
.android
.AndroidStudio3.2
.IntelliJIdea2018.3
.Xauthority
.viminfo
.config/Android\ Open\ Source\ Project/
.config/autostart
.config/clipit
.config/Code\ -\ OSS/
.config/configstore
.config/dconf
.config/gconf
.config/GitKraken
.config/google-chrome
.config/gwakeonlan
.config/htop
.config/libvirt
.config/menus
.config/Nextcloud
.config/nitrogen
.config/procps
.config/pulse
.config/spotify
.config/VirtualBox
.config/wal
.config/yay
.config/youtube-viewer
.config/gtk-3.0/bookmarks
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/filezilla/
.config/vifm
.calcurse/apts
.calcurse/notes
.calcurse/todo
.calcurse/.calcurse.pid
