#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

setbg &			# set the background with the `setbg` script
sxhkd &			# Bind keys with sxhkd
remaps & 		# US international with Caps as Mod/Escape
unclutter &		# Remove mouse when idle
xcompmgr &		# xcompmgr for transparency
dunst &			# dunst for notifications
mpdupdate &		# When mpd state changes, update mpd i3blocks module.
