#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=blpcfgokakmgnkcojhhkbfbldkacnbeo
Icon=chrome-blpcfgokakmgnkcojhhkbfbldkacnbeo-Default
NoDisplay=true
StartupWMClass=crx_blpcfgokakmgnkcojhhkbfbldkacnbeo
