#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Hangouts
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=knipolnnllmklapflnccelgolnpehhpl
Icon=chrome-knipolnnllmklapflnccelgolnpehhpl-Default
StartupWMClass=crx_knipolnnllmklapflnccelgolnpehhpl
