#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Authy
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=gaedmjdfmmahhbjefcbgaolhhanlaolb
Icon=chrome-gaedmjdfmmahhbjefcbgaolhhanlaolb-Default
StartupWMClass=crx_gaedmjdfmmahhbjefcbgaolhhanlaolb
